.light {
  background-color: white;
  color: black;
  min-height: 100vh;
  padding: 20px;
}

.dark {
  background-color: #111;
  color: white;
  min-height: 100vh;
  padding: 20px;
}

button {
  padding: 10px 16px;
  margin-top: 10px;
  cursor: pointer;
}